@model Techsys_School_ERP.Model.Assignment

@{

	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>

	<!-- /theme JS files -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

	<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>

	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/pages/form_select2.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {

			$("#classList").change(function () {
				if ($("#classList").val() == 0) {
					alert("Please Select the Class")
					//$("#myHandsonTable").html("");
					//$("#hot-display-license-info").val("");
					//$("#hot-display-license-info").text("");
				}
				else {
					getSectionForClass($("#classList").val())
				}
			});

			$("#blah1").click(function () {
				$("#file1").attr("visibility", "visible");
				$("input[type=file]").trigger('click');
				$("input[type=file]").trigger("change");
			});


			$("input[type=file]").change(function () {

				if ($(this)[0].files && $(this)[0].files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#blah1')
							.attr('src', e.target.result)
							.width(550)
							.height(265);
					};

					reader.readAsDataURL($(this)[0].files[0]);

				}
			});

			$("#assignedDate").datepicker({
				required: true,
				message: "This is a required field",
				dateFormat: 'dd-mm-yy'
			});

			$("#completionDate").datepicker({
				required: true,
				message: "This is a required field",
				dateFormat: 'dd-mm-yy'
			});

		
			function getSectionForClass(Class_Id) {
				debugger
				$.ajax({
					url: '/Assignment/FetchSectionIDForClass/',
					data: "{'Class_Id':'" + $("#classList").val() + "'}",
					dataType: "json",
					type: "POST",
					contentType: "application/json; charset=utf-8",
					async: true,
					processData: false,
					cache: false,
					success: function (data) {
						debugger
						// first remove the current options if any
						$('#SectionList').find('option').remove();

						$('#SectionList').append($('<option></option>').val(0).html("-- Select Section --"));
						for (var i = 0; i < data.length; i++) {
							
							var opt = new Option(data[i].Name, data[i].Id);
							$('#SectionList').append(opt);

						}

					}

				});
			}

			$("#btnSave").click(function () {

				var Assignment = {

					Class_Id: $("#classList").find(":selected").val(),
					Section_Id: $("#SectionList").find(":selected").val(),
					Subject_Id: $("#subjectList").find(":selected").val(),
					Assigned_Date: $("#assignedDate").val(),
					Completion_Date: $("#completionDate").val(),
					Assignment_Title : $("#Assignment_Title").val(),
					Assignment_Text: $("#txtAssignmentText").val(),
					comments :$("#comments").val()

				};

				$.ajax({
					type: "POST",
					url: "/Assignment/AddAssignmentForClassAndSection/",
					data: JSON.stringify(Assignment),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (response) {

						var data = new FormData();
						data.append('file', ($("#Photo").get(0).files)[0]);
						$.ajax({

							url: "/Assignment/Upload",
							type: "POST",
							data: data,
							cache: false,
							processData: false,
							contentType: false,
							success: function (data) {
								alert('Student Successfully Added');
								//window.location.href = "/Student/CreateStudentOtherDetails";
							},
							error: function (ex) {
								alert('Failed to retrieve records.' + ex);
							}
						});
					}

				});
			

				alert($("#txtAssignmentText").val());


			});
	});
	</script>

	</head>
<body>
	<div class="page-container" style="height:100%;">
		<div class="page-content">
			<div class="container">
				@*<div class="row">*@

				<div class="panel panel-primary panel-bordered" style="width:100%;">
					<div class="panel-heading bg-indigo-400">
						<h6 class="panel-title ">ASSIGNMENT DETAIL</h6>
						<div class="heading-elements ">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
								<li><a data-action="reload"></a></li>
								<li><a data-action="close"></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<fieldset>
							<legend class="text-semibold" style="font-weight:900;">
								<i class="icon-reading position-left" style="color:green;font-size:larger;font-weight:bolder; "></i>
								Add personal details
							</legend>


							<div class="row form-group">

								<div class="col-sm-2 col-md-2 ">
									<label style="font-weight:700; ">CLASS</label>

									<select id="classList" required name="ClassListName" class="form-control">
										@if (ViewBag.classList != null)
										{
											<option value='0'>-- Select Class --</option>
											foreach (var item in ViewBag.classList)
											{
												if (item.Text != null)
												{

													<option value="@item.Value">
														@item.Text
													</option>

												}

											}
										}
									</select>


								</div>
								<div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
									<label class="lbl-bold">SECTION</label>


									<select id="SectionList" required name="SectionName" class="form-control"></select>
								</div>
								<div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
									<label class="lbl-bold">SUBJECT</label>
									<select id="subjectList" required name="subjectListName" class="form-control">
										@if (ViewBag.subjectList != null)
										{
											foreach (var item in ViewBag.subjectList)
											{
												if (item.Text != null)
												{

													<option value="@item.Value">
														&nbsp;&nbsp; @item.Text
													</option>
												}
											}
										}
									</select>
								</div>

								<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
									<label class="lbl-bold">ASSIGNED DATE</label>
									@Html.EditorFor(model => model.Assigned_Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @id = "assignedDate", @type = "text" } })
								</div>
							</div>


							<div class="row form-group">
								<div class="col-sm-2 col-md-2 ">
									<label style="font-weight:700; ">COMPLETION DATE</label>
									@Html.EditorFor(model => model.Completion_Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @id = "completionDate", @type = "text" } })
								</div>
								<div class="col-sm-10 col-md-10 ">
									<label style="font-weight:700; ">ASSIGNMENT TITLE</label>
									@Html.EditorFor(model => model.Assignment_Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @type = "text" } })
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-6 col-md-6 ">
									<label style="font-weight:700; ">ASSIGNMENT TEXT</label>
									<textarea rows="12" cols="10" class="form-control elastic" placeholder="Textarea" id="txtAssignmentText"></textarea>
									@*<input type="text"  id="txtAssignmentText" class="form-control"/>*@
									</div>
								<div class="col-sm-6 col-md-6 ">
									<label style="font-weight:700; ">IMAGE</label>
									<img id="blah1" src="~/Content/images/imageupload_-_Copy.png" alt="your image" style="height:265px;width:550px;margin-top:0%;margin-left:2%;background-size:auto; align-content:center; " class="img-responsive">
									<input type="file" name="Photo" style="display:none;  " id="Photo" />
									</div>
								</div>
							<div class="row form-group">
								
							</div>

							<div class="row col-sm-offset-9 col-md-offset-9 form-group">
								<input type="button" id="btncancel" class="btn btn-primary bg-green-400" value="CANCEL" style="margin-left:27%;" />
								<input type="button" id="btnSave" class="btn btn-primary bg-green-400" value="SAVE" />
							</div>
							
						</fieldset>

						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
