@model IEnumerable<Techsys_School_ERP.Model.ViewModel.StaffAttendance_ViewModel>

@{
     Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<!DOCTYPE html>

<html>
<head>
	<!-- /theme JS files -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

	<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>

	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/pages/form_select2.js"></script>


	@*<script type="text/javascript" src="~/Content/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="~/Content/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Content/js/plugins/loaders/blockui.min.js"></script>*@
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="~/Content/js/plugins/tables/datatables/datatables.min.js"></script>
	<script type="text/javascript" src="~/Content/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="~/Content/js/plugins/tables/datatables/extensions/jszip/jszip.min.js"></script>
	<script type="text/javascript" src="~/Content/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js"></script>
	<script type="text/javascript" src="~/Content/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
	<script type="text/javascript" src="~/Content/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
	<!-- <script type="text/javascript" src="~/Content/js/core/app.js"></script>-->
	<script type="text/javascript" src="~/Content/js/pages/datatables_extension_buttons_html5.js"></script>

	

	<script type="text/javascript">

				$(document).ready(function () {

			var today = new Date();

			var d = new Date();
			for (var i = 2; i >= 0; i--) {
				var option = "<option value=" + parseInt(d.getFullYear() - i) + ">" + parseInt(d.getFullYear() - i) + "</option>"
				$('[id*=DropDownList1]').append(option);
			}
			for (var i = 1; i <= 2; i++) {
				var option = "<option value=" + parseInt(d.getFullYear() + i) + ">" + parseInt(d.getFullYear() + i) + "</option>"
				$('[id*=DropDownList1]').append(option);
			}


			if (today.getMonth() < 4) {

				$("#DropDownList1").val(today.getFullYear());
				//$("#lblYear").text(today.getFullYear())
			}
			else {
				$("#DropDownList1").val(parseInt(today.getFullYear()) + parseInt(1));
				//$("#lblYear").text(parseInt(today.getFullYear()) + parseInt(1))
			}

			$("#fromDateDatePicker").datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true
			});

			$("#ToDateDatePicker").datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true
			});


					//AutoComplete Textbox Population
			$('#staffSelect').select2({
				
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select staff from List",
				ajax: {
					url: '/Attendance/GetStaffList',
					//width: 'resolve',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						debugger
						return {
							results: data.Data
						};
					},
					initSelection: function (element, callback) {
					}
				},
			});



			$('#btnAddHoliday').click(function () { //On click of your button

				var frmDate = $("#fromDateDatePicker").val();

				var toDate = $("#ToDateDatePicker").val();

				var reason = $("#txtReason").val();

				$.ajax({
					url: '/Attendance/AddStaffAttendance/',
					data: "{'Staff_Id':'" + $("#staffSelect").val() + "','From_Date':'" + $("#fromDateDatePicker").val() + "','To_Date':'" + $("#ToDateDatePicker").val() + "','Reason':'" + $("#txtReason").val() + "'}",
					//data: "{'Class_Name':'" + $("#txtAddClass").val() + "'}",
					dataType: "json",
					type: "POST",
					//dataType: "html",
					contentType: "application/json; charset=utf-8",
					success: function (response) {
						debugger
						if (response == "Holiday Already Exists.") {
							alert("Holiday Name Already Exists!!");
						}
						else if (response == "OK") {
							alert("Holiday Successfully Added");
							window.location.href = "/Attendance/AddSTaffAttendance";
							//$("#txtAddHoliday").val(holiday);
							$("#fromDateDatePicker").val(frmDate);
							$("#ToDateDatePicker").val(toDate);
						}


					}
					,
					error: function (response) {

					},
					failure: function (response) {

					}
				});

		})
		})


	</script>
</head>
<body>

	<div class="page-container" style="height:100%;">

		<div class="page-content">

			<div class="container">

				<div class="panel panel-primary panel-bordered">
					<div class="panel-heading bg-indigo-400">
						<h6 class="panel-title ">STAFF ATTENDANCE LIST</h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
								<li><a data-action="reload"></a></li>
								<li><a data-action="close"></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">

					</div>

					<div class="row form-group">
						<div class="col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-1">
							<label class="lbl-bold">NAME</label>
						</div>
						<div class="col-sm-3 col-md-3">
							<select data-placeholder="Select Staff " class="select-search col-sm-3 col-md-3" id="staffSelect"></select>
						</div>
						<div class="col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-1">
							<label class="lbl-bold">REASON</label>
						</div>
						<div class="col-sm-3 col-md-3">

							<input class="form-control" id="txtReason" type="text" />
							@*<select id="DropDownList1" name="DropDownList1" class="form-control"></select>*@

						</div>

					</div>
					<div class="row form-group">

						<div class="col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-1">
							<label class="lbl-bold lbl-margin-top">FROM DATE</label>
						</div>
						<div class="col-sm-3 col-md-3">

							<input class="form-control datepicker" id="fromDateDatePicker" />

						</div>

						<div class="col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-1">
							<label class="lbl-bold lbl-margin-top">TO DATE</label>
						</div>
						<div class="col-sm-3 col-md-3">

							<input class="form-control datepicker" id="ToDateDatePicker" />

						</div>

					</div>
					<div class="row col-sm-offset-5 col-md-offset-5">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="text-left col-xs-3">
							<input type="button" class="btn btn-success" id="btnAddHoliday" value="ADD HOLIDAY" />
						</div>
					</div>
					<br />
					@*<br />*@

					<table class="table datatable-button-html5-basic table-striped table-bordered" id="tblHolidayList">
						<thead class="bg-primary-400">
							<tr>
								<th>Name</th>
								<th>Leave Date</th>
								<th>Date</th>
								<th>Leave Reason</th>
								<th>Academic Year</th>
								<th>Created On</th>
								@*<th>Created By</th>*@

								<th>Action</th>
							</tr>
						</thead>
						<tbody>

							@if (Model != null)
							{
								foreach (var item in Model)
								{
									<tr>
										<td>@item.Name + @item.Employee_No</td>
										<td>@item.Leave_Date</td>
										<td>@item.From_Date </td>
										<td>@item.Leave_Reason</td>
										<td>@item.Academic_Year</td>
										<td>@item.Created_On</td>										
										<td>
											@Html.ActionLink("Delete", "Delete", new { id = item.Id })
										</td>
									</tr>
								}

							}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</body>
</html>